<div id='wrapper'>
  <div id='players'>
  </div>
  <div class='core'>
    <div class='core-wrap'>

      <span class='helper'>
        <button id='ready'>Ready ? </button>
        <div id='alert'>Game over!</div>
        <div id='newGame'>
          <a href='/'>New Game</a>
        </div>
        <div class='game-input'>
          <div id='currentWord'>Banana</div>
          <input type='text' id='user-input' maxlength='20' placeholder='Enter word...'>
        </div>
      </span>
    </div>
  </div>
</div>
