<div class='container'>
  <div class='row'>
    <div class='col-md-5 col-md-offset-4'>
      <h1 class='header text-center'>
        Word Frenzy
      </h1>
      <div class='input-group'>
        <input class='form-control' type='text' id='username' placeholder='Enter username...' maxlength='15'>
        <div class='input-group-btn'>
          <button type='button' class='btn btn-primary'id='join'>Join a Game!</button>
        </div>
      </div>
      <div class='alert text-center'>
        Names cannot contain spaces.
      </div>
    </div>
  </div>
</div>
